//====================================================================================================
.header {
	background-color: transparent;
	z-index: 3;
	&__content {
	}

	&__top {
		transition: height 0.3s ease 0s;
		@media (max-width:$md2+px){
			display: none;
		}
	}

	&__middle {
		transition: height 0.3s ease 0s;
		@media (max-width:$md2+px){
			display: none;
		}
	}

	&__bottom {
		@media (max-width:$md1+px){
			height: 78px;
		}
	}

	position: absolute;
	width: 100%;
	height: 198px;
	transition: height 0.3s ease 0s;

	&._header-scroll {
		background-color: #212427;
		position: fixed;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		.header__top {
			display: none;
			height: 0;
			overflow: hidden;
			border: none;
		}
		.header__middle {
			display: none;
			height: 0;
			overflow: hidden;
			border: none;
		}
		.header__content, .header__bottom {
			height: 100%;
		}
	}
	&._header-hide {
		height: 0;
		overflow: hidden;
	}
	&._header-hide._header-scroll {
		height: 78px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		@media (max-width:$md0+px){
			height: 65px;
			.menu-bottom-header__list li {
				line-height: 65px;
			}
		}
	}
	&._header-hide._header-show {
		overflow: visible;
	}
	&.header--black {
		@media (max-width:$md2+px){
			background-color: #fff;
		}
	}
	@media (max-width:$md0+px){
		height: 185px;
	}
	@media (max-width:$md2+px){
		height: 93px;
	}
}
.top-header {
	height: 50px;
	border-bottom: 1px solid rgba($color: #fff, $alpha: 0.122);
	display: flex;
	align-items: center;
	justify-content: space-between;
	 
	&__menu {
	}

	&__social {
		flex: 0 1 23.4%;
		@media (max-width:$md1+px){
			display: none;
		}
	}

	&__pa {
	}
	@media (max-width:$md0+px){
		height: 45px;
	}
}
.menu-top-header {

	&__list {
		display: flex;
		align-items: center;
		gap: 45px;
	}

	&__link {
		font-size: 15px;
		color: rgb(255, 255, 255);
		@media (any-hover: hover){
			&:hover {
				color: rgb(182, 182, 182);
			}
		}
	}
}
.social-top-header {
	display: flex;
	align-items: center;
	gap: 20px;

	&__text {
		font-size: 15px;
		color: rgb(255, 255, 255);
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 13px;
	}

	&__link {
		// width: 26px;
		// display: block;
		// svg {
		// 	width: 100%;
		// }
	}
}
.pa-top-header {
	display: flex;
	align-items: center;
	gap: 15px;
	&__link {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 15px;
		color: rgb(255, 255, 255);
		line-height: 1.733;
		white-space: nowrap;
		svg {
			width: 21px;
			height: 21px;
			path {
				fill: #fff;
			}
		}
		@media (any-hover: hover){
			&:hover {
				color: rgb(182, 182, 182);
				svg path {
					fill: rgb(182, 182, 182);
				}
			}
		}
	}

	&__link-btn {
		font-size: 15px;
		color: rgb(255, 255, 255);
		line-height: 2.312;
		border-radius: 20px;
		width: 137px;
		height: 39px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: linear-gradient(50deg, rgba(18,104,233,1) 0%, rgba(133,44,255,1) 50%);
		background-position: 0;
		background-size: 260%;
		transition: background 300ms ease-in-out;
		@media (max-width:$md0+px){
			height: 35px;
		}
		@media (any-hover: hover){
			&:hover {
				background-position: 40%;
			}
		}
	}
}
.middle-header {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid rgba($color: #fff, $alpha: 0.122);
	&__logo {
	}

	&__switch {
	}

	&__phones {
	}

	&__connect {
		@media (max-width:$md1+px){
			display: none;
		}
	}

	&__connect-btn {
		font-size: 16px;
		font-weight: 600;
		color: rgb(255, 255, 255);
		width: 295px;
		height: 49px;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 50px;
		display: flex;
		align-items: center;
		justify-content: center;

		background-image: linear-gradient(50deg, rgba(18,104,233,1) 0%, rgba(133,44,255,1) 40%, rgba(0,0,0,0) 48%);
		background-position: 100%;
		background-size: 260%;
		transition: background 300ms ease-in-out;
		@media (any-hover: hover){
			&:hover {
				background-position: 0;
				border-color: #3755f0;
			}
		}
		@media (max-width:$md0+px){
			height: 45px;
		}
	}
	@media (max-width:$md0+px){
		height: 60px;
	}
}
.logo-block {

	&__link {
		
	}
	&__link_black {
		display: none;
	}
}
.switch-middle-header {

	&__block {
		display: flex;
		align-items: center;
		gap: 19px;
		input[type="checkbox"] {
			position: relative;
			width: 140px;
			height: 48px;
			-webkit-appearance: none;
			outline: none;
			background: #2061ec;
			border-radius: 24px;
			transition: .5s;
			box-shadow: inset 0 0 5px rgba(0,0,0,.2);
			cursor: pointer;
		}
		 
		input:checked[type="checkbox"] {
			background: #62a600
		}	
		 
		 input[type="checkbox"]:before {
			content: '';
			position: absolute;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			top: 8px;
			left: 8px;
			background: #fff;
			transition: .5s;
			transform: scale(1.1);
			box-shadow: 0 2px 5px rgba(0,0,0,.2);
			cursor: pointer;
		 }
		 
		 input[type="checkbox"]:after {
			content: 'Для бизнеса';
			font-size: 16px;
			color: rgb(248, 248, 248);
			position: absolute;
			left: 50px;
			font-weight: 600;
			top:48%;
			transform:translate(0%, -50%);	 
			transition: left 0.3s ease 0s;
		 }
		 
		input:checked[type="checkbox"]:before {
			left: 100px;
		}
		input:checked[type="checkbox"]:after {
			content: 'Для дома';
			left: 18px;
		}
		label {
			font-size: 16px;
			color: rgb(248, 248, 248);
			line-height: 2.125;
			cursor: pointer;
		}
	}
}
.phones-header {
	display: flex;
	gap: 30px;
	&__block {
		font-size: 15px;
		color: rgb(255, 255, 255);
		font-weight: 500;
		&:first-child {
			@media (max-width:$md0+px){
				display: none;
			}
			@media (max-width:$md1+px){
				display: block;
			}
		}
	}

	&__top {
		display: block;
		font-size: 20px;
		color: rgb(248, 248, 248);
		font-weight: 600;
		margin: 6px 0px 0px 0px;
		position: relative;
		@media (any-hover: hover){
			&:hover {
				color: rgb(182, 182, 182);
			}
		}
	}

	&__select {
		margin: 6px 0px 0px 0px;
		.select__title	{
			font-size: 20px;
			color: rgb(248, 248, 248);
			font-weight: 600;
			background-color: transparent;
			border: none;
			position: relative;
			&::before {
				content: '';
				background: url('../img/icons/dots.png') 0 0 no-repeat;
				position: absolute;
				bottom: -8px;
				left: 0;
				width: 100%;
				height: 4px;
			}
		}
		.select__value {
			font-size: 20px;
			padding: 0;
			height: 20px;
		}
		.select__options {
			&::before {
				content: 'Круглосуточная служба поддержки';
				display: block;
				font-size: 14px;
				font-weight: 600;
				padding: 5px 15px;
				white-space: nowrap;
				@media (max-width:$md1+px){
					font-size: 11px;
				}
			}
		}
	}
}


//========
.link-phones-header {
	cursor: pointer;
	position: relative;
	&__top {
		position: relative;
		&::before {
			content: '';
			background: url('../img/icons/dots.png') 0 0 no-repeat;
			position: absolute;
			bottom: -8px;
			left: 0;
			width: 100%;
			height: 4px;
		}
		&:after {
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 9px;
			flex: 0 0 9px;
			height: 9px;
			background: url("../img/icons/select.png") center / 100% no-repeat;
			margin: 0px 0px 0px 10px;
		}
	}

	&__list {
		position: absolute;
		top: 51px;
		border-radius: 10px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		font-size: 14px;
		padding: 10px 0 5px 0;
		color: #000;
		z-index: 2;
		opacity: 0;
		height: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		&::before {
			content: 'Круглосуточная служба поддержки';
			display: block;
			font-size: 14px;
			font-weight: 600;
			padding: 5px 15px;
			white-space: nowrap;
			@media (max-width:$md1+px){
				font-size: 11px;
			}
		}
		&::after {
			content: '';
			width: 18px;
			height: 10px;
			background: url('../img/icons/triangel.png') 0 0/cover no-repeat;
			position: absolute;
			top: -10px;
			left: 20px;
		}
	}

	&__link {
		display: block;
		padding: 5px 15px;
		margin: 0;
		font-size: 18px;
		line-height: 1.2;
		color: #191919;
		font-weight: 600;
		white-space: nowrap;
		position: relative;
		overflow: hidden;
		&::before {
			content: "";
			width: 0;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: #7037fb;
		}
		@media (any-hover: hover){
			&:hover {
				color: #7037fb;
				&::before {
					width: 3px;
				}
			}
		}
	}
	&.active {
		.link-phones-header__list {
			height: 102px;
			opacity: 1;
			visibility: visible;
		}
		.link-phones-header__top {
			&:after {
				transform: rotate(-180deg);
			}
		}
	}
}
//========
.bottom-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	//padding: 22px 0;
	&__menu-two {
		@media (max-width:$md1+px){
			display: none;
		}
	}
	&__menu {
	}
	@media (max-width:$md2+px){
		padding: 22px 0;
	}
}
.menu {

	&__icon {
	}

	&__body {
		position: fixed;
		width: 345px;
		height: 100%;
		overflow: auto;
		top: 0;
		left: -110%;
		background-color: #fff;
		transition: left 0.3s ease 0s;
		padding: 45px 35px 30px 35px;
		z-index: 3;
		&._active {
			left: 0;
		}
		@media (max-width:$md4+px){
			width: 250px;
			padding: 30px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin: 40px 0px 0px 0px;

		.sub-menu {
			display: none;
			position: relative;
			top: 100%;
			border-radius: 10px;
			min-width: 100%;
			left: 0;
			background-color: #fff;
			font-size: 14px;
			padding: 10px 0 5px 0;
			color: #000;
			z-index: 2;
			height: 0;
			visibility: hidden;
			transition: height 0.2s ease 0s;
			// &::before {
			// 	content: "";
			// 	width: 18px;
			// 	height: 10px;
			// 	background: url('../img/icons/triangel.png') 0 0/cover no-repeat;
			// 	position: absolute;
			// 	top: -10px;
			// 	left: 35px;
			// }
			li {
				a {
					display: block;
					padding: 5px 15px;
					margin: 0;
					font-size: 18px;
					line-height: 1.2;
					color: #191919;
					font-weight: 600;
					white-space: nowrap;
					position: relative;
					overflow: hidden;
					&::before {
						content: "";
						width: 0;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						background-color: #7037fb;
					}
					@media (any-hover: hover){
						&:hover {
							color: #7037fb;
							&::before {
								width: 3px;
							}
						}
					}
				}
			}
		}

		&.menu-item-has-children {
			position: relative;
			.menu-bottom-header__link {
				&::after {
					content: '';
					transition: all .3s ease 0s;
					width: 7px;
					flex: 0 0 7px;
					height: 9px;
					background: url('../img/icons/select.png') center/100% no-repeat;
					margin: 0 0 0 6px;
					display: inline-flex;
					opacity: 0;
					transition: opacity 0.3s ease 0s;
				}
			 }
			@media (any-hover: hover){
				&:hover {
					.sub-menu {
						height: 115px;
						visibility: visible;
					}

					.menu-bottom-header__link {
						&::before {
							border-color: #fff;
						}
						&::after {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&__link {
		font-size: 18px;
		color: rgb(25, 25, 25);
		font-weight: 500;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			width: 0;
			height: 3px;
			background: linear-gradient(50deg, rgb(18,104,233) 0%, rgb(133,44,255) 100%);
			bottom: -5px;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover){
			&:hover {
				&::after {
					left: 0;
					width: 100%;
				}
			}
		}
		&._active {
			&::after {
				left: 0;
				width: 100%;
			}
		}
		@media (max-width:$md4+px){
			font-size: 16px;
		}
	}
}
//First screen menu
.menu-bottom-header {

	&__list {
		display: flex;
		align-items: center;
		gap: 63px;
		margin: 0px 65px 0px 0px;
		li {
			line-height: 78px;
			.sub-menu {
				position: absolute;
				top: 100%;
				border-radius: 10px;
				min-width: 100%;
				left: 0;
				background-color: #fff;
				font-size: 14px;
				color: #000;
				z-index: 2;
				height: 0;
				overflow: hidden;
				transition: height 0.2s ease 0s;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
				li {
					&:first-child {
						padding: 10px 0px 0px 0px;
					}
					&:last-child {
						padding: 0px 0px 5px 0px;
					}
					a {
						display: block;
						padding: 5px 15px;
						margin: 0;
						font-size: 18px;
						line-height: 1.2;
						color: #191919;
						font-weight: 600;
						white-space: nowrap;
						position: relative;
						overflow: hidden;
						&::before {
							content: "";
							width: 0;
							height: 100%;
							position: absolute;
							left: 0;
							top: 0;
							background-color: #7037fb;
						}
						@media (any-hover: hover){
							&:hover {
								color: #7037fb;
								&::before {
									width: 3px;
								}
							}
						}
					}
				}
			}
			&.menu-item-has-children {
				position: relative;
				&::before {
					content: '';
					width: 18px;
					height: 0;
					background: url('../img/icons/triangel.png') 0 0/cover no-repeat;
					position: absolute;
					bottom: 0;
					left: 35px;
					z-index: 3;
					transition: height 0.3s ease 0s;
				}
				.menu-bottom-header__link {
					&::after {
						content: '';
						transition: all .3s ease 0s;
						width: 7px;
						flex: 0 0 7px;
						height: 9px;
						background: url('../img/icons/select.png') center/100% no-repeat;
						margin: 0 0 0 6px;
						display: inline-flex;
						opacity: 0;
						transition: opacity 0.3s ease 0s;
					}
				 }
				 &._active {
						&::before {
							height: 10px;
						}
				 }
				@media (any-hover: hover){
					&:hover {

						.menu-bottom-header__link {
							&::before {
								border-color: #fff;
							}
							&::after {
								opacity: 1;
							}
						}
					}
				}
			}
			@media (max-width:$md0+px){
				&:last-child {
					.sub-menu {
						left: unset;
						right: -10px;
					}
				}
			}
		}
		@media (max-width:$md0+px){
			gap: 25px;
			margin: 0;
		}
	}

	&__link {
		font-size: 18px;
		color: rgb(248, 248, 248);
		line-height: 1.889;
		font-weight: 500;
		position: relative;
		white-space: nowrap;
		transition: all .3s ease 0s;
		&::before {
			content: '';
			position: absolute;
			width: calc(100% + 28px);
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			height: 35px;
			border: 1px solid transparent;
			border-radius: 24px;
			transition: all 0.3s ease 0s;
		}
		&._active {
			&::before {
				border-color: #fff;
			}
		}
		@media (any-hover: hover){
			&:hover {
				color: rgb(182, 182, 182);
			}
		}
	}
}

//====================================================================================================
.body-bottom-header {

	&__bg {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		z-index: 1;
		background-color: rgba(17, 7, 38, 0.65);
		left: 0;
		opacity: 0;
		display: block;
		transition: opacity 0.3s ease 0s;
		visibility: hidden;
		&._active {
			visibility: visible;
			opacity: 0.65;
		}
	}

	&__close {
		position: absolute;
		width: 47px;
		height: 47px;
		background: url('../img/icons/close3.svg') 0 0/cover no-repeat;
		left: -110%;
		top: 23px;
		display: block;
		z-index: 2;
		cursor: pointer;
		transition: left 0.3s ease 0s;
		&._active {
			left: 373px;
			@media (max-width:$md4+px){
				display: none;
			}
		}
	}

	.logo-block {
		img {
			@media (max-width:$md4+px){
				width: 100%;
			}
		}
	}

	&__switch {
		margin: 30px 0px 40px 0px;
		.switch-middle-header__block label {
			font-size: 16px;
			color: rgb(25, 25, 25);
			font-weight: 600;
			@media (max-width:$md4+px){
				font-size: 11px;
			}
		}
		.switch-middle-header__block input[type=checkbox] {
			width: 140px;
			height: 40px;
			@media (max-width:$md4+px){
				height: 30px;
				width: 100px;
			}
		}
		.switch-middle-header__block input[type=checkbox]:after {
			font-size: 14px;
			@media (max-width:$md4+px){
				font-size: 11px;
			}
		}
		.switch-middle-header__block input:checked[type=checkbox]:after {
			@media (max-width:$md4+px){
				font-size: 11px;
			}
		}
		.switch-middle-header__block input[type=checkbox]:before {
			width: 28px;
			height: 28px;
			top: 6px;
			right: 4px;
			@media (max-width:$md4+px){
				width: 22px;
				height: 22px;
				top: 4px;
				right: 4px;
			}
		}
		.switch-middle-header__block input:checked[type=checkbox]:before {
			left: 105px;
			@media (max-width:$md4+px){
				left: 74px;
			}
		}
	}

	&__phones {
		margin: 40px 0px 20px 0px;
		flex-direction: column;
		gap: 25px;
		.phones-header__block {
			color: rgb(25, 25, 25);
			font-weight: 500;
			a {
				color: rgb(25, 25, 25);
			}
			.select__title {
				color: rgb(25, 25, 25);
				.select__value {
					justify-content: flex-end;
				}
				.select__value:before {
					background: url('../img/icons/select_grad_png.png') center/100% no-repeat;
				}
			}
			.select__options {
				border: 1px solid #7037fb;
				&::before {
					@media (max-width:$md4+px){
						font-size: 10px;
					}
				}
				&::after {
					content: none;
				}
			}
		}
	}

	.link-phones-header__list {
		border: 1px solid #7037fb;
		&::after {
			content: none;
		}
	}
	.link-phones-header__top {
		&::after {
			background: url('../img/icons/select_grad_png.png') center/100% no-repeat;
		}
	}

	&__btns {
		margin: 30px 0px 0px 0px;
	}

	&__pa {
		font-weight: 500;
		font-size: 18px;
		width: 258px;
		height: 63px;
		margin: 0px 0px 10px 0px;
		@media (max-width:$md4+px){
			width: 100%;
			height: 50px;
		}
	}

	&__pay {
		width: 258px;
		height: 63px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		color: #fff;
		font-weight: 500;
		border-radius: 30px;
		background-image: linear-gradient(90deg, rgba(22,145,54,1) 0%, rgba(5,138,199,1) 50%, rgba(116,243,47,1) 100%);
		background-position: 0;
		background-size: 260%;
		transition: background 300ms ease-in-out;
		@media (any-hover: hover){
			&:hover {
				background-position: 100%;
			}
		}
		@media (max-width:$md4+px){
			width: 100%;
			height: 50px;
		}
	}

	&__social {
		margin: 25px 0px 0px 0px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
		.social-top-header__text {
			font-size: 16px;
			color: rgba(25, 25, 25, 0.769);
			font-weight: 500;
			line-height: 1;
		}
		.social-top-header__link {
			display: block;
			width: 20px;
		}
	}
}
//====================================================================================================


//Burger
.icon-menu {
	display: block;
	position: relative;
	width: 37px;
	height: 25px;
	cursor: pointer;
	z-index: 0;
	span {
		transition: all 0.3s ease 0s;
		top: calc(50% - 1px);
		left: 0px;
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: #fff;
		&:first-child {
			top: 0px;
		}
		&:nth-child(2) {
			width: 25px;
		}
		&:last-child {
			top: auto;
			bottom: 0px;
			width: 13px;
		}
	}
	&::before {
		content: none;
		position: absolute;
		font-size: 18px;
		color: rgb(255, 255, 255);
		white-space: nowrap;
		left: -145px;
		top: 50%;
		transform: translate(0, -50%);
		@media (max-width:$md2+px){
			content: 'Открыть меню';
		}
		@media (max-width:$md4+px){
			content: none;
		}
	}
	&._active {
		span {
			transform: scale(0);
			&:first-child {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&:last-child {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
				width: 100%;
			}
		}
	}
	@media (any-hover: hover){
		&:hover {
			span {
				&:nth-child(2) {
					width: 100%;
				}
				&:last-child {
					width: 100%;
				}
			}
		}
	}
	@media (max-width:$md4+px){
		z-index: 2;
	}
}
//====================================================================================================
.header--black {
	background-color: #212427;
	@media (max-width:$md2+px){
		background-color: #fff;
	}
	.icon-menu {
		span {
			@media (max-width:$md2+px){
				background-color: #000;
			}
		}
		&::before {
			@media (max-width: $md2+px){
				color: #000;
			}
		}
		&._active {
			span {
				@media (max-width:$md2+px){
					background-color: #fff;
				}
			}
		}
	}
	.logo-block__link_black {
		@media (max-width:$md2+px){
			display: block;
		}
	}
	.logo-block__link {
		@media (max-width:$md2+px){
			display: none;
		}
	}
}
//====================================================================================================