

.main-silder {
	margin: -198px 0px 0px 0px;
	position: relative;
	&__content {
	}

	&__slide {
	}

	&__slider-controlls {
	}
	@media (max-width:$md0+px){
		margin: -185px 0px 0px 0px;
	}
	@media (max-width:$md2+px){
		margin: -93px 0px 0px 0px;
	}
}
.slider-main-slide {
	position: relative;
	min-height: 1080px;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		img {
			@media (max-width:$md4+px){
				height: 100%;
				position: absolute;
				// left: -140%;
			}
		}
		&::after {
			background-color:rgba(0, 0, 0, 0.6);
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
		@media (max-width:$md4+px){
			overflow: hidden;
			&::after {
				content: '';
			}
		}
	}

	&__content {
		z-index: 1;
		position: relative;
		padding: 350px 15px 0px 15px;
		@media (max-width:$md0+px){
			padding: 260px 15px 0px 15px;
		}
		@media (max-width:$md2+px){
			padding: 260px 20px 0px 20px;
		}
		@media (max-width:$md3+px){
			padding: 260px 20px 0px 20px;
		}
		@media (max-width:$md4+px){
			padding: 0px 15px 0px 15px;
		}
	}

	&__label {
		color: rgb(255, 255, 255);
		font-weight: 500;
		font-size: 24px;
		display: inline-flex;
		border-radius: 24px;
		margin: 0px 0px 40px 0px;
		padding: 1px 26px 5px 26px;
		a {
			color: rgb(255, 255, 255);
		}
		@media (max-width:$md4+px){
			font-size: 16px;
			padding: 4px 16px 5px 16px;
			margin: 0px 0px 20px 0px;
		}
	}

	&__label--sale {
		background-color: #da2a90;
	}

	&__title {
		font-size: 64px;
		color: rgb(255, 255, 255);
		font-weight: bold;
		margin: 0px 0px 30px 0px;
		@media (max-width:$md0+px){
			font-size: 56px;
		}
		@media (max-width:$md4+px){
			font-size: 40px;
			margin: 0px 0px 15px 0px;
		}
	}

	&__subtitle {
		font-size: 26px;
		color: rgb(255, 255, 255);
		max-width: 450px;
		line-height: 1.423;
		margin: 0px 0px 40px 0px;
		@media (max-width:$md0+px){
			font-size: 22px;
			margin: 0px 0px 25px 0px;
		}
		@media (max-width:$md4+px){
			font-size: 17px;
			margin: 0px 0px 25px 0px;
			line-height: 1.3;
		}	 
	}

	&__price {
		color: rgb(255, 255, 255);
		font-weight: 700;
		font-size: 26px;
		display: flex;
		align-items: center;
		gap: 10px;
		span {
			font-size: 64px;
			font-weight: 700;
			position: relative;
			&:after {
				content: '₽';
				font-size: 64px;
				font-weight: 400;
				@media (max-width:$md4+px){
					font-size: 48px;
				}
			}
			@media (max-width:$md4+px){
				font-size: 48px;
			}
		}
		@media (max-width:$md4+px){
			font-size: 18px;
		}
		
	}

	&__btns {
		margin: 50px 0px 0px 0px;
		@media (max-width:$md4+px){
			margin: 35px 0px 0px 0px;
		}
	}
	@media (max-width:$md0+px){
		min-height: 900px;
	}
	@media (max-width:$md2+px){
		min-height: 1024px;
	}
	@media (max-width:$md4+px){
		min-height: 660px;
		display: flex;
		align-items: center;
	}
}
.btns-slider-main-slide {
	display: flex;
	align-items: center;
	gap: 30px;
	&__connect {
		width: 285px;
		height: 77px;
		font-size: 20px;
		@media (max-width:$md4+px){
			width: 193px;
			height: 54px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 16px;
		font-size: 18px;
		color: rgb(255, 255, 255);
		font-weight: 500;
		svg {
			width: 41px;
			height: 41px;
			path {
				fill: #fff;
			}
			@media (max-width:$md4+px){
				width: 27px;
				height: 27px;
			}
		}
		@media (any-hover: hover){
			&:hover {
				color: rgb(182, 182, 182);
			}
		}
		@media (max-width:$md4+px){
			gap: 10px;
			font-size: 13px;
			white-space: nowrap;
		}
	}
	@media (max-width:$md4+px){
		gap: 25px;
	}
}
.controlls-main-slider {
	display: flex;
	justify-content: center;
	width: 100%;

	&__slider-pagination {
		display: flex;
		align-items: center;
		gap: 29px;
		position: absolute;
		bottom: 40px;
		display: flex;
		justify-content: center;
		height: 30px;
		.swiper-pagination-bullet {
			display: block;
			border-radius: 50%;
			background-color: #666769;
			width: 12px;
			height: 12px;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			@media (any-hover: hover){
				&:hover {
					background-color: #fff;
				}
			}
		}
		.swiper-pagination-bullet-active {
			background-color: #fff;
			position: relative;
			&::after {
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				border: 2px solid #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				animation: ring 1.5s infinite;
			}
		}
	}

	&__prev {
		background: url('../img/icons/next.svg') 0 0 no-repeat;
		width: 28px;
		height: 30px;
		transform: rotate(180deg);
		position: absolute;
		top: 50%;
		left: 30px;
		animation: arrowTwoRotate 3s infinite;
		animation-delay: 6s;
		@media (max-width:1520px){
			display: none;
		}
	}

	&__next {
		background: url('../img/icons/next.svg') 0 0 no-repeat;
		width: 28px;
		height: 30px;
		position: absolute;
		top: 50%;
		right: 30px;
		animation: arrowTwo 3s infinite;
		animation-delay: 3s;
		@media (max-width:1520px){
			display: none;
		}
	}

}
@keyframes arrowTwo {
	0% {
		transform: scale(1);
	}
	50% {
	  transform: scale(0.75);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes arrowTwoRotate {
	0% {
		transform: scale(1) rotate(180deg);
	}
	50% {
	  transform: scale(0.75) rotate(180deg);
	}
	100% {
		transform: scale(1) rotate(180deg);
	}
}
@keyframes ring {
	0% {
	  width: 12px;
	  height: 12px;
	  opacity: 1;
	}
	100% {
	  width: 30px;
	  height: 30px;
	  opacity: 0;
	}
}
@keyframes animate_pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
//====================================================================================================
.promo {
	padding: 110px 0px 90px 0px;

	._container {
		position: relative;

		.container-promo-slider {
			position: relative;
		}
	}

	&__title {
		margin: 0px 0px 70px 0px;
		@media (max-width:$md2+px){
			margin: 0px 0px 50px 0px;
		}
	}

	&__subtitle {
		font-size: 30px;
		color: rgb(20, 20, 20);
		line-height: 1.2;
		font-weight: 600;
		margin: 0px 0px 90px 0px;
		span {
			border: 1px solid #3755f0;
			border-radius: 23px;
			padding: 1px 17px 6px 17px;
			display: inline-block;

			background-image: linear-gradient(50deg, rgba(18,104,233,1) 0%, rgba(133,44,255,1) 40%, rgba(0,0,0,0) 48%);
			background-position: 100%;
			background-size: 260%;
			transition: background 300ms ease-in-out;
			a {
				color: rgb(20, 20, 20);
			}
			@media (any-hover: hover){
				&:hover {
					background-position: 0;
					a {
						color: #fff;
					}
				}
			}
			@media (max-width:$md4+px){
				margin: 2px 0;
				padding: 2px 10px 5px 10px;
			}
		}
		@media (max-width:$md1+px){
			font-size: 26px;
		}
		@media (max-width:$md2+px){
			text-align: center;
			margin: 0px 0px 50px 0px;
		}
		@media (max-width:$md4+px){
			font-size: 19px;
		}
	}

	&__header {
	}

	&__content {
		margin: 40px 0px 0px 0px;
		padding: 20px 0;
	}

	&__item {
	}
	@media (max-width:$md2+px){
		padding: 45px 0px 45px 0px;
	}
}

.header-promo {

	&__block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		&:not(:last-child) {
			margin: 0px 0px 40px 0px;
		}
		@media (max-width:$md2+px){
			flex-wrap: wrap;
			gap: 25px;
		}
	}

	&__left {
		display: flex;
		align-items: center;
		gap: 30px;
		flex: 0 1 27.1%;
		@media (max-width:$md1+px){
			gap: 20px;
		}
		@media (max-width:$md2+px){
			flex: 0 1 100%;
			justify-content: center;
		}
	}

	&__number {
		font-size: 60px;
		color: rgb(232, 232, 232);
		font-weight: 900;
		width: 65px;
	}

	&__text {
		font-weight: 500;
		font-size: 18px;
		color: #898989;
		span {
			font-size: 26px;
			color: rgb(20, 20, 20);
			font-weight: bold;
			display: block;
			margin: 0px 0px 5px 0px;
			@media (max-width:$md1+px){
				font-size: 22px;
			}
		}
		@media (max-width:$md1+px){
			font-size: 16px;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 30px;
		flex: 0 1 72.9%;
		@media (max-width:$md1+px){
			gap: 20px;
		}
		@media (max-width:$md2+px){
			display: none;
			flex-direction: column;
			flex: 0 1 100%;
			gap: 15px;
		}
	}

	&__li {
		font-size: 20px;
		color: rgb(25, 25, 25);
		font-weight: 500;
		border: 1px solid #3755f0;
		border-radius: 50px;
		width: 330px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		font-weight: 700;
		background-image: linear-gradient(50deg, rgba(18,104,233,1) 0%, rgba(133,44,255,1) 40%, rgba(0,0,0,0) 48%);
		background-position: 100%;
		background-size: 260%;
		transition: background 300ms ease-in-out;
		span {
			font-weight: 700;
			margin: 0px 0px 0px 5px;
		}
		&._active {
			color: #fff;
			background-position: 0;
		}
		@media (any-hover: hover){
			&:hover {
				color: #fff;
				background-position: 0;
			}
		}
		@media (max-width:$md0+px){
			width: 31.3%;
		}
		@media (max-width:$md1+px){
			font-size: 18px;
		}
		@media (max-width:$md2+px){
			width: 100%;
		}
	}
	&__select {
		display: none;
		width: 100%;
		.select__title {
			border-radius: 50px;
			background: linear-gradient(50deg, rgb(18,104,233) 0%, rgb(133,44,255) 100%);
			span {
				font-size: 20px;
				color: rgb(255, 255, 255);
				font-weight: 500;
				margin: 0px 0px 0px 5px;
				width: 100%;
				justify-content: center;
				display: flex;
			}
		}
		.select__value {
			height: 60px;
		}
		.select__options {
			top: 60px;
			border: 1px solid #3755f0;
			border-radius: 25px;
		}
		@media (max-width:$md2+px){
			display: block;
		}
	}
}
.item-promo {
	border: 1px solid #dadada;
	border-radius: 10px;
	transition: box-shadow 0.3s ease 0s;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px 5px 20px 5px;
		height: 100%;
	}

	&__text-img {
		background: url('../img/promo/wooman.png') 0 100%/contain no-repeat #f6f9fc;
		width: 100%;
		height: 390px;
		border-radius: 10px;
	}

	&__que {
		font-size: 26px;
		color: rgb(20, 20, 20);
		font-weight: bold;
		line-height: 1.2;
		max-width: 240px;
		padding: 45px 0px 0px 45px;
	}

	&__add-text {
		font-size: 16px;
		color: rgb(20, 20, 20);
		font-weight: 500;
		max-width: 240px;
		line-height: 1.2;
		margin: 10px 0px 0px 0px;
		padding: 0px 0px 0px 45px;	 
	}

	&__link {
		font-size: 20px;
		width: 100%;
		height: 100px;
		border: 1px solid #3755f0;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		font-weight: 600;
		margin: 15px 0px 0px 0px;
		color: #3755f0;
		background-image: linear-gradient(50deg, rgba(18,104,233,1) 0%, rgba(133,44,255,1) 40%, rgba(0,0,0,0) 48%);
		background-position: 100%;
		background-size: 280%;
		transition: background 300ms ease-in-out;
		@media (any-hover: hover){
			&:hover {
				color: #fff;
				background-position: 0;
			}
		}
	}


	&__top {
		width: 250px;
		height: 240px;
		background: url('../img/promo/fig.png') 0 center no-repeat;
		// width: 100%;
		// height: 260px;
		// background: url('../img/promo/fig.png') 60% 0/contain no-repeat;
		margin: 0px 0px 15px 0px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__top__figure-2 {
		background: url('../img/promo/fig_02.png') 0 0 no-repeat;
	}

	&__label {
		font-size: 13px;
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 1.1;
		width: 82px;
		height: 82px;
		border-radius: 50%;
		background-color: #f72efe;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2px;
		right: 0;
		top: 0;
		span {
			font-weight: bold;
			font-size: 34px;
			display: block;
		}
	}

	&__name {
		font-size: 72px;
		display: block;
		line-height: 1.2;
		font-weight: 900;
		color: #3755f0;
		text-align: center;
		max-width: 120px;
		margin: 0 auto;
	}

	&__title {
		font-size: 22px;
		font-weight: 900;
		line-height: 1.2;
		color: #3755f0;
		text-align: center;
		max-width: 300px;
		margin: 0px auto 10px auto;
		flex: 1 1 auto;
	}

	&__subtitle {
		font-size: 14px;
		color: rgb(20, 20, 20);
		line-height: 1.2;
		text-align: center;
		font-weight: 500;
		max-width: 110px;
		margin: 0 auto; 
	}

	&__text {
		font-size: 14px;
		color: rgb(20, 20, 20);
		line-height: 1.2;
		text-align: center; 
		font-weight: 500;
		max-width: 315px;
		margin: 0px 0px 10px 0px;
		// flex: 1 1 auto;
	}

	&__price {
		font-size: 18px;
		color: rgb(20, 20, 20);
		font-weight: bold;
		display: flex;
		align-items: flex-start;
		span {
			font-size: 30px;
			margin: 0px 5px 0px 0px;
		}
	}

	&__btns {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 20px 0px 0px 0px;
	}

	&__connect {
		width: 210px;
		height: 52px;
	}

	&__about {
		width: 210px;
		height: 50px;
	}
	@media (any-hover: hover){
		&:hover {
			box-shadow: 0px 1px 26.39px 2.61px rgba(194, 194, 194, 0.44);
			border-color: #fff;
		}
	}
}
.item-promo--help {
	border: none;
	.item-promo__content {
		padding: 0;
	}
	.item-promo__text-img {
		position: relative;
		overflow: hidden;
		flex: 1 1 auto;
		&::before {
			content: '?';
			font-size: 30px;
			font-weight: 900;
			color: rgb(255, 255, 255);
			background: url('../img/icons/ques_icon.png') 0 0 no-repeat;
			width: 67px;
			height: 51px;
			position: absolute;
			left: -5px;
			top: 0;
			padding: 5px 0px 0px 20px;
		}
	}
	@media (max-width:$md2+px){
		order: 1;
	}
	@media (any-hover: hover){
		&:hover {
			box-shadow: none;
		}
	}
}
.controlls-promo-slider {

	&__slider-pagination {
		align-items: center;
		gap: 29px;
		justify-content: center;
		height: 30px;
		display: none;
		margin: 30px 0px 0px 0px;
		.swiper-pagination-bullet {
			display: block;
			border-radius: 50%;
			background-color: #c6bffc;
			width: 12px;
			height: 12px;
			cursor: pointer;
			@media (any-hover: hover){
				&:hover {
					background-color: #8a85af;
				}
			}
		}
		.swiper-pagination-bullet-active {
			background-color: #6452f7;
			position: relative;
			&::after {
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				border: 2px solid #6452f7;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				animation: ring 1.5s infinite;
			}
		}
		@media (max-width:$md2+px){
			display: flex;
		}
		@media (max-width:$md4+px){
			margin: 50px 0px 0px 0px;
		}
	}

	&__prev {
		background: url('../img/icons/prev_grad.png') 0 0 no-repeat;
		width: 28px;
		height: 51px;
		position: absolute;
		left: -60px;
		top: 50%;
		transform: translate(0, -50%);
	}

	&__next {
		background: url('../img/icons/prev_grad.png') 0 0 no-repeat;
		width: 28px;
		height: 51px;
		transform: scale(-1, 1) translate(0, -50%);
		position: absolute;
		right: -60px;
		top: 50%;
	}
}

.item-promo-two {
	border-radius: 10px;
	background: linear-gradient( 0deg, rgb(18,104,233) 0%, rgb(133,44,255) 100%);
	padding: 23px;
	&__content {
		display: flex;
		flex-direction: column;
	}

	&__subtitle {
		font-size: 23px;
		color: rgb(255, 255, 255);
		line-height: 1.2;
		font-weight: 500;
		margin: 0px 0px 10px 0px;
	}

	&__title {
		font-size: 23px;
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 1.2;
		span {
			font-size: 84px;
			margin: 0px -4px 0px 0px;
		}
	}

	&__connect {
		font-size: 16px;
		color: rgb(255, 255, 255);
		font-weight: 600;
		border-radius: 26px;
		background-color: #4800b2;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 125px;
		height: 52px;
		margin: 80px 0px 0px 0px;
		@media (any-hover: hover){
			&:hover {
				background-color: #34047c;
			}
		}
	}
}

//====================================================================================================
.choose {
	padding: 0px 0px 70px 0px;
	._container {
		position: relative;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px 0px 60px 0px;
		@media (max-width:$md2+px){
			justify-content: center;
		}
	}

	&__title {
	}

	&__more {
		width: 210px;
		height: 52px;
		@media (max-width:$md2+px){
			margin: 35px auto 0px auto;
		}
	}

	&__content {
	}

	&__item {
	}

	&__slider-controlls {
	}
}
.item-choose {
	position: relative;
	&__content {
	}

	&__img {
		border-radius: 10px;
		overflow: hidden;
		margin: 0px 0px 20px 0px;
		height: 240px;
		img {
			//width: 100%;
			height: 100%;
			@media (max-width:1267px){
				width: 100%;
				height: auto;
			}
			@media (max-width:$md1+px){
				height: 100%;
				width: auto;
			}
			@media (max-width:$md2+px){
				width: 100%;
				height: auto;
			}
			@media (max-width:$md3+px){
				height: 100%;
				width: auto;
			}
			@media (max-width:$md4+px){
				width: 100%;
				height: auto;
			}
			@media (max-width:390px){
				height: 100%;
				width: auto;
			}
		}
	}

	&__title {
		font-size: 24px;
		color: rgb(25, 25, 25);
		font-weight: bold;
		line-height: 1.2;	 
	}

	&__link {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}
.controlls-choose-slider {

	&__prev {
		background: url('../img/icons/prev_grad.png') 0 0 no-repeat;
		width: 28px;
		height: 51px;
		position: absolute;
		top: 55%;
		left: -60px;
	}

	&__next {
		background: url('../img/icons/prev_grad.png') 0 0 no-repeat;
		width: 28px;
		height: 51px;
		transform: rotate(180deg);
		position: absolute;
		top: 55%;
		right: -60px;
	}

	&__slider-pagination {
		display: none;
		align-items: center;
		gap: 29px;
		justify-content: center;
		height: 30px;
		margin: 30px 0px 0px 0px;
		.swiper-pagination-bullet {
			display: block;
			border-radius: 50%;
			background-color: #c6bffc;
			width: 12px;
			height: 12px;
			cursor: pointer;
			@media (any-hover: hover){
				&:hover {
					background-color: #8a85af;
				}
			}
		}
		.swiper-pagination-bullet-active {
			background-color: #6452f7;
			position: relative;
			&::after {
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				border: 2px solid #6452f7;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				animation: ring 1.5s infinite;
			}
		}
		@media (max-width:$md2+px){
			display: flex;
		}
	}
}
//====================================================================================================
.contact-us {
	padding: 45px 0px 30px 0px;
	background: linear-gradient(50deg, rgb(18,104,233) 0%, rgb(133,44,255) 100%);
	&__content {
	}

	&__title {
		font-size: 30px;
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 1.133;
		text-align: center;
		max-width: 595px;
		margin: 0 auto;
		@media (max-width:$md2+px){
			font-size: 28px;
		}
	}

	&__form {
		margin: 30px 0px;
		@media (max-width:$md4+px){
			margin: 30px 0px 20px 0px;
		}
	}

	&__text {
		font-size: 11px;
		font-family: "Gilroy";
		color: rgba(255, 255, 255, 0.659);
		line-height: 1.2;
		text-align: center;
		max-width: 465px;
		margin: 0 auto;
	}
}
.form-contact-us {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	&__btn {
		width: 270px;
		height: 65px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 20px;
		color: rgb(255, 255, 255);
		border: 1px solid #dadada;
		border-radius: 50px;
		background-color: transparent;
		@media (any-hover: hover){
			&:hover {
				color:rgb(20, 20, 20);
				background-color: #fff;
			}
		}
	}
	@media (max-width:$md2+px){
		gap: 17px;
		flex-wrap: wrap;
	}
}
.form-contact-us-input {
	height: 65px;
	border-radius: 10px;
	overflow: hidden;
	width: 450px;
	border: 1px solid #dadada;
	input {
		font-size: 18px;
		color: rgba(25, 25, 25, 1);
		line-height: 1.2;
		padding: 0px 0px 0px 30px;
		height: 100%;
		font-weight: 500;
		&::placeholder {
			color: rgba(25, 25, 25, 0.6);
		}
		&:focus {
			color: rgb(25, 25, 25);
		}
	}
	&._error {
		border-color: red;
		border-width: 1px;
	}
	&._successful {
		border-color: #669900;
		border-width: 1px;
		position: relative;
		&::after {
			content: '';
			background: url('../img/icons/successful.png') 0 0 no-repeat;
			width: 25px;
			height: 18px;
			position: absolute;
			right: 28px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	@media (max-width:$md2+px){
		width: 100%;
	}
}
.form-contact-us-button {
	@media (max-width:$md4+px){
		margin: 3px 0px 0px 0px;
	}
}

.contact-us--successful {
	position: relative;
	.bid-contacts-us {
		display: block;
	}
}

.bid-contacts-us {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	top: 0;
	left: 0;
	padding: 45px 0 30px 0;
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		justify-content: center;
	}

	&__img {
		width: 135px;
		margin: 0px 0px 20px 0px;
		img {
			width: 100%;
		}
	}

	&__title {
		font-size: 30px;
		color: rgb(25, 25, 25);
		font-weight: bold;
		text-align: center; 
		margin: 0px 0px 10px 0px;
		@media (max-width:$md4+px){
			font-size: 26px;
		}
	}

	&__text {
		font-size: 23px;
		color: rgb(25, 25, 25);
		font-weight: bold;
		text-align: center;
		@media (max-width:$md4+px){
			font-size: 18px;
		}
	}
}

//====================================================================================================
.feedbacks {
	padding: 70px 0px 30px 0px;
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 0px 50px 0px;
		@media (max-width:$md2+px){
			justify-content: center;
		}
	}

	&__title {
	}

	&__more {
		width: 210px;
		height: 52px;
		@media (max-width:$md2+px){
			margin: 0 auto;
		}
	}

	&__content {
	}

	&__item {
	}

	&__slider-controlls {
	}
}

.item-feedbacks {

	&__content {
	}

	&__text {
		font-size: 16px;
		color: rgb(20, 20, 20);
		line-height: 1.2;
		border: 1px solid #dadada;
		padding: 40px 30px;
		border-radius: 10px;
		font-weight: 500;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 35px;
			bottom: -19px;
			width: 31px;
			height: 19px;
			background: url('../img/icons/arrow-down.png') 0 0 no-repeat;
		}
	}

	&__rating {
		display: flex;
		align-items: center;
		gap: 5px;
		margin: 20px 0px 0px 0px;
		justify-content: flex-end;
		svg {
			path {
				fill: #fff;
				stroke: #f8c535;
			}
		}

		&.one-star {
			li {
				&:first-child {
					svg {
						path {
							fill: #f8c535;
							stroke: #f8c535;
						}
					}
				}
			}
		}
		&.two-star {
			li {
				&:first-child {
					svg {
						path {
							fill: #f8c535;
							stroke: #f8c535;
						}
					}
				}
				&:nth-child(2) {
					svg {
						path {
							fill: #f8c535;
							stroke: #f8c535;
						}
					}
				}
			}
		}
		&.three-star {
			li {
				&:first-child {
					svg {
						path {
							fill: #f8c535;
							stroke: #f8c535;
						}
					}
				}
				&:nth-child(2) {
					svg {
						path {
							fill: #f8c535;
							stroke: #f8c535;
						}
					}
				}
				&:nth-child(3) {
					svg {
						path {
							fill: #f8c535;
							stroke: #f8c535;
						}
					}
				}
			}
		}
		&.four-star {
			li {
				&:first-child {
					svg {
						path {
							fill: #f8c535;
							stroke: #f8c535;
						}
					}
				}
				&:nth-child(2) {
					svg {
						path {
							fill: #f8c535;
							stroke: #f8c535;
						}
					}
				}
				&:nth-child(3) {
					svg {
						path {
							fill: #f8c535;
							stroke: #f8c535;
						}
					}
				}
				&:nth-child(4) {
					svg {
						path {
							fill: #f8c535;
							stroke: #f8c535;
						}
					}
				}
			}
		}
		&.five-star {
			li {
				svg {
					path {
						fill: #f8c535;
						stroke: #f8c535;
					}
				}
			}
		}
	}

	&__info {
		display: flex;
		align-items: center;
	}

	&__img {
		width: 77px;
		height: 77px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 15px;
		img {
			width: 100%;
		}
	}

	&__meta {
	}

	&__name {
		font-weight: 600;
		font-size: 18px;
		color: rgb(20, 20, 20);
		margin: 0px 0px 5px 0px;
	}

	&__date {
		font-weight: 600;
		font-size: 13px;
		color: rgb(20, 20, 20);
		a {
			color: #3158ef;
			@media (any-hover: hover){
				&:hover {
					color: #2643b9;
				}
			}
		}
	}
}
.controlls-feedbacks-slider {
	//height: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 60px 0px 0px 0px;

	&__slider-pagination {
		display: flex;
		align-items: center;
		gap: 29px;
		display: flex;
		justify-content: center;
		height: 30px;
		.swiper-pagination-bullet {
			display: block;
			border-radius: 50%;
			background-color: #c6bffc;
			width: 12px;
			height: 12px;
			cursor: pointer;
			@media (any-hover: hover){
				&:hover {
					background-color: #8a85af;
				}
			}
		}
		.swiper-pagination-bullet-active {
			background-color: #6452f7;
			position: relative;
			&::after {
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				border: 2px solid #6452f7;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				animation: ring 1.5s infinite;
			}
		}
	}
	@media (max-width:$md2+px){
		margin: 0px 0px 30px 0px;
	}
}

//====================================================================================================
.services {
	padding: 45px 0px 100px 0px;
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 0px 45px 0px;
		@media (max-width:$md2+px){
			justify-content: center;
		}
	}

	&__title {
	}

	&__more {
		width: 210px;
		height: 52px;
		@media (max-width:$md2+px){
			margin: 43px auto 0px auto;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		@media (max-width:$md0+px){
			gap: 25px;
		}
		@media (max-width:1185px){
			gap: 20px;
		}
		@media (max-width:$md2+px){
			gap: 30px;
		}
	}

	&__item {
		flex: 0 1 48.7%;
		@media (max-width:$md2+px){
			flex: 0 1 100%;
		}
	}
	@media (max-width:$md4+px){
		padding: 45px 0px 53px 0px;
	}
}

.item-services {
	height: 385px;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	&__content {
		height: 100%;
		padding: 35px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transform: translateY(90px);
		transition: transform 0.3s ease 0s;
		@media (max-width:1024px){
			transform: translateY(0);
		}
		@media (max-width:$md2+px){
			padding: 30px;
		}
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		picture {
			display: block;
			height: 100%;
		}
		img {
			width: 100%;
			object-fit: cover;
			@media (max-width:$md0+px){
				height: 100%;
				width: unset;
			}
			@media (max-width:$md2+px){
				width: 100%;
			}
		}
	}

	&__title {
		font-size: 26px;
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 1.2;
		margin: 0px 0px 15px 0px;
		position: relative;
		max-width: 330px;
	}

	&__text {
		font-size: 16px;
		color: rgb(255, 255, 255);
		line-height: 1.2;
		position: relative;
		margin: 0px 0px 30px 0px;
		font-weight: 500;
		@media (max-width:$md2+px){
			font-size: 13px;
			margin: 0px 0px 17px 0px;
		}
	}

	&__link {
		position: relative;
		font-size: 18px;
		color: rgb(255, 255, 255);
		width: 210px;
		height: 52px;
		border: 1px solid #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 25px;
		font-weight: 600;
		flex: 0 0 52px;
		@media (any-hover: hover){
			&:hover {
				color: #000;
				background-color: #fff;
			}
		}
	}
	@media (any-hover: hover){
		&:hover {
			.item-services__content {
				transform: translateY(0);
			}
		}
	}
	@media (max-width:$md0+px){
		height: 345px;
	}
	@media (max-width:$md2+px){
		height: 385px;
	}
	@media (max-width:$md3+px){
		height: 435px;
	}
}

.services--business {
	padding-bottom: 0;

	.item-services__title {
		margin: 0px 0px 30px 0px;
	}
}
//====================================================================================================
.present {

	&__content {
	}

	&__item {
	}
}
.item-present {
	height: 730px;
	padding: 160px 0px 0px 0px;
	position: relative;
	overflow: hidden;

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 0;
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0.4290091036414566) 66%, rgba(0,0,0,1) 100%);
			z-index: 1;
			@media (max-width:$md2+px){
				background: rgba($color: #000000, $alpha: 0.75);
			}
		}
		@media (max-width:$md2+px){
			position: absolute;
    		right: -530px;
		}
	}

	&__content {
		position: relative;
		z-index: 2;
	}

	&__title {
		font-size: 39px;
		color: rgb(255, 255, 255);
		font-weight: bold;
		line-height: 1.282;
		max-width: 485px;
		margin: 0px 0px 40px 0px;
		@media (max-width:$md4+px){
			font-size: 26px;
			margin: 0px 0px 25px 0px;
		}
	}

	&__text {
		max-width: 585px;
		margin: 0px 0px 40px 0px;
		p {
			font-size: 16px;
			font-family: "Gilroy";
			color: rgb(255, 255, 255);
			line-height: 1.2;
			font-weight: 500;
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
		@media (max-width:$md4+px){
			margin: 0px 0px 10px 0px;
		}
	}

	&__link {
		width: 285px;
		height: 77px;
		font-size: 20px;
	}
	&:nth-child(2) {
		._container {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			@media (max-width:$md2+px){
				align-items: flex-start;
			}
		}
		.item-present__mask {
			background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.4290091036414566) 34%, rgba(0,0,0,1) 88%);
			@media (max-width:$md2+px){
				@media (max-width:$md2+px){
					background: rgba($color: #000000, $alpha: 0.75);
				}
			}
		}
	}
}

//====================================================================================================
.news {
	padding: 75px 0px 60px 0px;
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0px 0px 55px 0px;
		@media (max-width:$md2+px){
			justify-content: center;
			margin: 0px 0px 25px 0px;
		}
	}

	&__title {
	}

	&__more {
		width: 210px;
		height: 52px;
		@media (max-width:$md2+px){
			margin: 30px auto 0px auto;
		}
	}

	&__content {
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		@media (max-width:$md0+px){
			gap: 24px;
		}
		@media (max-width:$md1+px){
			flex-wrap: wrap;
		}
		@media (max-width:$md2+px){
			display: none;
		}
	}

	&__mobile-content {
		display: none;
		@media (max-width:$md2+px){
			display: flex;
		}
	}

	&__item {
		flex: 0 1 23.4%;
		@media (max-width:$md1+px){
			flex: 0 1 48%;
		}
		@media (max-width:$md4+px){
			flex: 0 1 100%;
		}
	}
}
.controlls-news-slider {
	height: 30px;
	width: 100%;
	display: none;
	justify-content: center;
	padding: 30px 0px 30px 0px;

	&__slider-pagination {
		display: flex;
		align-items: center;
		gap: 29px;
		display: flex;
		justify-content: center;
		height: 30px;
		.swiper-pagination-bullet {
			display: block;
			border-radius: 50%;
			background-color: #c6bffc;
			width: 12px;
			height: 12px;
			cursor: pointer;
			@media (any-hover: hover){
				&:hover {
					background-color: #8a85af;
				}
			}
		}
		.swiper-pagination-bullet-active {
			background-color: #6452f7;
			position: relative;
			&::after {
				content: '';
				display: block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				border: 2px solid #6452f7;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				animation: ring 1.5s infinite;
			}
		}
	}
	@media (max-width:$md2+px){
		margin: 0px 0px 30px 0px;
		display: flex;
	}
}

.item-news {
	border: 1px solid #dadada;
	border-radius: 10px;
	overflow: hidden;
	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__img {
		width: 100%;
		height: 215px;
		picture {
			display: flex;
			height: 100%;
		}
		img {
			height: 100%;
			object-fit: cover;
			@media (max-width:$md1+px){
				width: 100%;
				height: auto;
			}
		}
		@media (max-width:$md1+px){
			overflow: hidden;
		}
	}

	&__bottom {
		padding: 30px 20px;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	&__title {
		font-size: 20px;
		color: rgb(20, 20, 20);
		font-weight: bold;
		line-height: 1.2;
		margin: 0px 0px 10px 0px;
	}

	&__text {
		font-size: 14px;
		color: rgb(20, 20, 20);
		line-height: 1.2;
		font-weight: 500;
		flex: 1 1 auto;
	}

	&__meta {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 20px 0px 0px 0px;
	}

	&__link {
		font-size: 18px;
		font-weight: 600;
		// background: linear-gradient(50deg, rgb(18,104,233) 0%, rgb(133,44,255) 100%);
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;
		color: #3755f0;
		@media (any-hover: hover){
			&:hover {
				color: #000;
				-webkit-text-fill-color: #000;
			}
		}
	}

	&__date {
		font-size: 16px;
		font-family: "Gilroy";
		color: rgba(25, 25, 25, 0.8);
		font-weight: 500;
	}
}
.navi-news {
	padding: 55px 0px 0px 0px;
	display: flex;
	justify-content: center;
	&__list {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	&__li {
		a {
			color: #3755f0;
			width: 45px;
			height: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			background: #fff;
			font-size: 26px;
			font-weight: bold; 
			@media (any-hover: hover){
				&:hover {
					background: linear-gradient(50deg, rgb(18,104,233) 0%, rgb(133,44,255) 100%);
					color: #fff;
				}
			}
		}
		&._active {
			a {
				background: linear-gradient(50deg, rgb(18,104,233) 0%, rgb(133,44,255) 100%);
				color: #fff;
			}
		}
		&.navi-news__li--sep {
			color: #3755f0;
			font-weight: bold;
			font-size: 26px;
		}
	}
}

.news--page {
	padding: 0px 0px 80px 0px;
	.news__content {
		@media (max-width:$md2+px){
			display: flex;
		}
	}
	@media (max-width:$md4+px){
		padding: 0px 0px 65px 0px;
	}
}
.news--one-page {
	padding: 0px 0px 55px 0px;
	.news__top {
		margin: 0px 0px 35px 0px;
	}
	.news__title {
		font-size: 40px;
		color: rgb(20, 20, 20);
		font-weight: bold;
	}
	.news__content {
		display: flex;
		@media (max-width:$md4+px){
			display: none;
		}
	}
	.news__mobile-content {
		display: none;
		@media (max-width:$md4+px){
			display: flex;
		}
	}
	.controlls-news-slider {
		display: none;
		@media (max-width:$md4+px){
			display: flex;
		}
	}
	@media (max-width:$md4+px){
		padding: 0px 0px 50px 0px;
	}
}
//====================================================================================================
.add-text {
	padding: 20px 0px 45px 0px;
	&__title {
		font-size: 24px;
		color: rgb(20, 20, 20);
		font-weight: bold;
		line-height: 1.2;
		margin: 0px 0px 30px 0px;
		@media (max-width:$md2+px){
			text-align: center;
		}
	}

	&__text {
		
		p {
			font-size: 14px;
			color: rgb(20, 20, 20);
			font-weight: 500;
			line-height: 1.2;
			display: block;
			&:not(:last-child) {
				margin: 0px 0px 20px 0px;
			}
		}
		&._hidden {
			overflow: hidden;
			-webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 80%);
			mask-image: linear-gradient(to bottom, black 0%, transparent 80%);
			height: 170px;
			position: relative;
			// &::after {
			// 	content: '';
			// 	width: 100%;
			// 	position: absolute;
			// 	height: 100%;
			// 	background: linear-gradient(to top, #fff 0%, transparent 80%);
			// 	top: 0;
			// 	left: 0;
			// }
		}
		@media (max-width:$md4+px){
			text-align: center;
		}
	}

	&__container-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 20px 0px 0px 0px;
	}

	&__btn {
		font-size: 16px;
		color: rgb(137, 137, 137);
		font-weight: 500;
		width: 235px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #dadada;
		border-radius: 24px;
		background-color: #fff;
		@media (any-hover: hover){
			&:hover {
				background-color: rgb(190, 190, 190);
				color: #000;
			}
		}
	}
}

//====================================================================================================